h1{background-color: rgb(230, 230, 221);}
h2{background-color: beige;}
#fondoGrey{background-color: lightgrey;}
#fondoBeige{background-color: bisque;}
#fondoLinen{background-color:linen}
#fondoBurly{background-color: burlywood}